/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/be1fde54-8580-498c-bb25-843fc13b0c28/dfuaq8p-428a57cd-ede0-4a9e-88a5-a93c89c18393.png/v1/fill/w_1192,h_670/stay_the_night_by_mb0sco_dfuaq8p-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2JlMWZkZTU0LTg1ODAtNDk4Yy1iYjI1LTg0M2ZjMTNiMGMyOFwvZGZ1YXE4cC00MjhhNTdjZC1lZGUwLTRhOWUtODhhNS1hOTNjODljMTgzOTMucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.XRNKEOsGBzUk3uHAqIKXl3J-VwdX2X6M3oPJwOxlilA') no-repeat center center fixed; /* Add your wallpaper here */
    background-size: cover;
    color: #D8DEE9;
    overflow: hidden;
}

.terminal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(46, 52, 64, 0.7);
    backdrop-filter: blur(20px);
}

.terminal-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: none;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.terminal-output {
    color: #bac0ca;
    font-size: 16px;
    margin-bottom: 10px;
}

.terminal-output p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.line-number {
    color: #6D88A4;
    margin-right: 10px;
}

.terminal-input {
    display: flex;
    align-items: center;
    color: #D8DEE9;
    margin-top: 10px;
}

.terminal-input span {
    margin-right: 10px;
    color: #88C0D0;
}

.terminal-input input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #ECEFF4;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
}

.terminal-input input::placeholder {
    color: #4C566A;
}

.color-block {
    background-color: #3B4252;
    color: #D8DEE9;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.color-block .value {
    background-color: #88C0D0;
    color: #2E3440;
}

.color-block .label {
    background-color: #3B4252;
    color: #D8DEE9;
    font-weight: bold;
    padding: 5px;
}

.color-block .value,
.color-block .label {
    padding: 10px;
}

.color-showcase {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.color-showcase div {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}

.readme-link {
    color: #9BA9FF;
    text-decoration: none;
}

.readme-link:hover {
    background-color: #c4baff;
    color: rgb(241, 241, 255);
}
#matrix-rain {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: #9ba8ff77;
    white-space: nowrap;
    opacity: 0.4;
    pointer-events: none;
}

